@tailwind base;
@tailwind components;
@tailwind utilities;


/* 🌈 Custom Animations */
@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-gradient-move {
  background-size: 200% 200%;
  animation: gradient-move 4s ease infinite;
}

.animate-shine {
  background-size: 50% 100%;
  animation: shine 3s ease-in-out infinite;
  mix-blend-mode: overlay;
}
